<div class="col-md-12" ng-controller="HomeCtrl">

    <style>
        .dir_title {
            font-size: 1.5em;
        }
    </style>


    <div class="card">
        <div class="card__item">
            <card-title title="'Optinomic :: template-directives'"
                        subtitle="'Welcome to our palyground! The following directives are available:'"
                        info="'Create nice looking health-care apps.'"></card-title>
        </div>
        <div class="card__item" ng-repeat="dir in directives">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 b_t">
                    <div class="m">
                        <div class="pull-right">
                            <a class="button button--outline button--primary m_b" href="#/template/{{dir.id}}">
                                &lt;{{dir.id}}&gt;
                            </a>
                        </div>
                        <p class="dir_title">{{dir.title}}</p>
                        <code>&lt;{{dir.id}}&gt;&lt;/{{dir.id}}&gt;</code>
                        <p>Version: {{dir.version}} | Last updated: {{dir.lastUpdate}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__item">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 b_t">
                    <div class="t_c m">
                        <p>Optinomic - Templates are full angular! Whatever is possible in Angular - use it in Optinoic also.</p>

                        <div class="m_t">
                            <a href="http://angularjs.org/">
                                <img src="http://angularjs.org/img/AngularJS-large.png"></img>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
