<div class="row">
    <div class="col-md-4">

        <h3 class="m">&nbsp;</h3>

        <div class="card">
            <div class="card__item">

                <card-title title="current_directive.title" subtitle="current_directive.description" info="'V' + current_directive.version + ' &nbsp; | &nbsp; ' + current_directive.lastUpdate"></card-title>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <h3 class="m">&nbsp;</h3>

        <div class="card">
            <div class="card__item">

                <div class="m">
                    <p>Copy / Paste:</p>
                    <textarea class="form-control t_l" rows="5">&lt{{current_directive_id}} title="&#39;XXX&#39;"&gt;&lt;/{{current_directive_id}}&gt;</textarea>
                </div>

            </div>
        </div>
    </div>
</div>

<div>
    <h3 class="m">Preview of:
        <br>
        <code>&lt;{{current_directive_id}} param="&#39;xXx&#39;"&gt;&lt;/{{current_directive_id}}&gt;</code>
    </h3>


    <div class="card">
        <div class="card__item">
            <score-threshold score="26" max="63" min="0" scale-ranges="scale_ranges"></score-threshold>
        </div>

        <div class="card__item">
            <score-threshold score="57" max="63" min="0" show-percent-scale="false" scale-ranges="scale_ranges"></score-threshold>
        </div>

        <div class="card__item">
            <p>Other content goes here / Hier wird Ihre Auswertung dargestellt :: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Stet clita kasd gubergren. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__item">
            <score-threshold score="1" max="4" min="0" show-min-max="false" show-percent-scale="false"></score-threshold>

            <score-threshold score="50" max="100" min="0"></score-threshold>

        </div>

        <div class="card__item">
            <p>Other content goes here / Hier wird Ihre Auswertung dargestellt :: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Stet clita kasd gubergren. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>


</div>
<h3 class="m">&nbsp;</h3>