<div class="row">
    <div class="col-md-4">

        <h3 class="m">Documentation & Settings</h3>


        <div class="card">
            <div class="card__item">

                <card-title title="current_directive_id"
                            subtitle="'Comming soon.'"></card-title>


                <div class="m">
                    <p>Copy / Paste:</p>
                    <textarea class="form-control t_l" rows="10">&lt{{current_directive_id}} title="&#39;XXX&#39;"&gt;&lt;/{{current_directive_id}}&gt;</textarea>
                </div>


            </div>
        </div>


    </div>
    <div class="col-md-8">
        <h3 class="m">Preview</h3>


        <div class="card">
            <div class="card__item">

            </div>

            <div class="card__item">
                <p>Other content goes here / Hier wird Ihre Auswertung dargestellt :: Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. Stet clita kasd gubergren. Lorem ipsum dolor sit amet. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>


    </div>
</div>
